body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

div {
    text-align: right;
}

a {
    display: inline-block;
    margin: 10px;
    text-decoration: none;
    color: white;
    padding: 10px; 
    border-radius: 50px;
    font-size: 15px; 
}
/** Login**/


a.login {
    background-color: blue; 
}

/** signup **/


a.signup {
    background-color: rgb(21, 181, 21); 
}

 
.profile{
    height: 50px;
    width: 50px;
    background-color:white;
    border-radius: 50%;
    border: 2px solid black;
    
}
.profile p{
    margin-left: 60px;

}

/** navigation bar */


.nav
{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    height: 600px;
    width: 150px;
    background-color:white;
    box-shadow: 5px 0px 0 rgb(174, 172, 172);
    /* border: 1px solid black; */
    border-radius: 10px;
    
}
.nav a{
    color: black;
}

.nav select{
    border: none;
    appearance: none;
  
    
  
}



.article{
    display: flex;
    gap: 10px ;
}

.main{
    width: calc(100% - 160px);
}