body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.nav-1{

    
        height: 60px;
        background-color: rgb(12, 12, 178);
        color: white;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
}

.nav-logo{
    height: 50px;
    width: 100px;
}

.logo{
    background-image: url("logo.png");
    background-size: cover;
    height: 50px;
    width: 100%;
    border-radius:10px;
   
}

.border{
    border: 1.5xp solid transparent;
}
.border:hover{
    border: 2px solid red;
}

.nav-search{
    display: flex;
    justify-content: space-evenly;
    width: 620px;
    height: 40px;
    border-radius: 5px;
    background-color:rgb(0, 255, 55);
}


.search-select {
    background-color: #e6e6e6;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
    border: none;
}
.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;

}
.search-icon{
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0f1111;
  
}
.nav-search:hover{
    border:2px solid red;
}

.sign-in a{
    
    text-decoration: none;
    color: white;
    font-size: 20px;
    
}
.pop{
    font-size: 30px;
    
    
}

.sign-in:hover{
    border: 2px solid white;
}

.signup{
    text-decoration: none;
    color: white;
    font-size: 30px;
}

.signup:hover{
    border: 2px solid white;
}

/* .nav-1 {
    width: 100%; 
    position: fixed; 
    top: 0; 
    z-index: 100; 
} */

.nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    height: 650px;
    width: 175px;
    background-color: #e0e6f8;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 20px 10px; 
}

.nav a:hover {
    background-color: rgba(12, 12, 178, 0.1); 
}

.nav div {
    display: flex; 
    align-items: center; 
    margin-bottom: 20px;
}

.nav i {
    margin-right: 10px; 
    min-width: 20px;
    color: rgb(10, 10, 150); 
}

.nav div:last-child {
    position: absolute;
    bottom: 50px;
    width: 100%;
    margin-bottom:0; 
}

.nav a {
    color: rgb(12, 12, 178);
    text-decoration: none;
    padding: 5px 0; 
    display: block; 
}

.nav select {
    border: none;
    appearance: none; 
    background: white; 
    padding: 5px 10px; 
    width: 100%; 
    box-sizing: border-box; 
}

.article {
    display: flex;
    gap: 20px; 
}

.main {
    width: calc(100% - 195px); 
    flex-grow: 1; 
}


/* .nav-search ::placeholder{
    align-items: center;
} */

/* .nav-search {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust as necessary */

